/* Import ET Book styles
   adapted from https://github.com/edwardtufte/et-book/blob/gh-pages/et-book.css */

@font-face {
    font-family: "et-book";
    src: url("../fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "et-book";
    src: url("../fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: block;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "et-book";
    src: url("../fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: block;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "et-book-roman-old-style";
    src: url("../fonts/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
    text-rendering: optimizeLegibility;
}
