---
layout: default
title: blog
full_width: true
---

<h1>Writing</h1>
<p class=subtitle>{{ site.author }}</p>

{{ content }}

{%- for post in site.posts -%}
{%- assign currentyear = post.date | date: "%Y" -%}
{%- if currentyear != prevyear -%}
  {% unless forloop.first %}
</ul>
  {% endunless %}
<h2 id="{{ currentyear }}">{{ currentyear }}</h2>
<ul>
  {%- assign prevyear = currentyear -%}
{% endif %}
  <li>
    <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> — <span style="font-style: italic">{{ post.date | date: '%B %-d' }}</span></p>
  </li>
{%- if forloop.last %}
</ul>
{%- endif -%}
{% else %}
<p>Watch this space for the first post!</p>
{% endfor %}
